body {
	background-color: #0099FF;
	background-image: url('imgs/bg.png');
	background-repeat: repeat-x;
}

#formulario {
	margin-left: 5%;
	margin-top: 5%;
	width: 573px;
	height: 459px;
	background-color: #FFF;
}