body {
	background-image: url('../img/bg.png');
        background-color: #2449a6;
	background-repeat: repeat-x;
	height: 700px;
	/*font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;*/	
}

input {
    height: 30px;
}

select {
    width: 80px;
}

.status a{
	color: #3c3c3c;
	text-decoration: underline;
}

.status a:hover{
	color: #3c3c3c;
	text-decoration: underline;
}

.status a:active
{
	color: #3c3c3c;
	text-decoration: underline;
}
.status a:visited
{
	color: #3c3c3c;
	text-decoration: underline;
}
.status a:link
{
	color: #3c3c3c;
	text-decoration: underline;
}

hr {
    color: #515154;
    background-color: #515154;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #515154;
}

#logo {
	margin-top: 100px;
	text-align: center;
	font-size: 2em;
	color: white;
	text-shadow: 0px 0px 4px #3c3c3c;
}

#bright {
	float: right;
	margin-top: -100px;
	margin-bottom: -900px;
}

#login {
	margin-top: 40px;
	margin-left: 200px;
}

#login input.campo {
	font-size: 1.5em;
	margin-left: 10px;
	height: 40px;
	width: 150px;
	box-shadow: 0px 0px 4px #3c3c3c;
	background-color: #a2dff5;
	color: #9393aa;
}

#login img {
	margin-left: 5px;
	margin-top: -10px;
}

.status {
    text-align: right;
	color: #3c3c3c;
}

#cadEnv {
	background-image: url("../img/enviar.png");
        background-size: 130px 50px;
	width: 130px;
	height: 50px;
        background-repeat:	no-repeat;
	background-color:	transparent;
	border:			none;
	text-indent:		-999em;
}

#limpar {
	background-image: url("../img/limpar.png");
        background-size: 130px 50px;
	width: 130px;
	height: 50px;
        background-repeat:	no-repeat;
	background-color:	transparent;
	border:			none;
	text-indent:		-999em;
}

#excluir {
	background-image: url("../img/excluir.png");
        background-size: 130px 50px;
	width: 130px;
	height: 50px;
        background-repeat:	no-repeat;
	background-color:	transparent;
	border:			none;
	text-indent:		-999em;
}

#editar {
	background-image: url("../img/editar.png");
        background-size: 130px 50px;
	width: 130px;
	height: 50px;
        background-repeat:	no-repeat;
	background-color:	transparent;
	border:			none;
	text-indent:		-999em;
}

.submits {
    margin-top: -140px;
    margin-left: 57px;
}

#entrar {
        margin-top: -10px;
        margin-left: 7px;
	background-image: url("../img/entrar.png");
        background-size: 170px 65px;
	width: 170px;
	height: 65px;
        background-repeat:	no-repeat;
	background-color:	transparent;
	border:			none;
	text-indent:		-999em;
}

.boxMenu {
    text-align: center;
    width: 460px;
    height: 225px;
    border: 1px solid #8f9ab4;
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0.3);
    /* Para navegadores IE 5.5 - 7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
    /* Para navegadores IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

.boxMenu div {
    padding-top: 15px;
    font-size: 1.5em;
    text-align: center;
    margin-top: 35px;
    margin-bottom: -30px;
    margin-left: 50px;
    width: 370px;
    height: 70px;
    background-image: url("../img/boxMenu-button.png");
    background-repeat: no-repeat;
}

.boxMenu, #sysBox a {
    color: #515154;
}

.boxMenu, #sysBox a:hover {
    text-decoration: none;
}

.boxMenu a {
    color: #515154;
}

.boxMenu a:hover {
    text-decoration: none;
	color: #000000;
}

#sysBox {
    width: 940px;
    height: auto;
    border: 1px solid #8f9ab4;
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0.3);
    /* Para navegadores IE 5.5 - 7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
    /* Para navegadores IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
}

#sysBox .selected {
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    margin-left: 0px;
    width: 193px;
    height: 65px;
    background-image: url("../img/sysBox-button-pressed.png");
    background-repeat: no-repeat;
}

#sysBox .normal {
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    margin-left: 10px;
    width: 193px;
    height: 65px;
    background-image: url("../img/sysBox-button.png");
    background-repeat: no-repeat;
}

#sysBox .content div {
    padding: 30px;
}

.inner {
    margin: 20px;
}

.content {
    margin-top: 35px;
    width: 900px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #7a7a7a;
    background-color: #d2edf6;
}

.goRight {
    float: right;
}

.validationMessage {
    padding: 5px;
    color: red;
    font-size: 0.96em;
    font-weight: bold;
}

#endResp {
    float: right;
    margin-bottom: -20px;
}

.cadSubmit {
    margin: 40px;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  border-radius: 15px;
  width:500px; 
  height:auto;
  padding:10px;
  background-color:#ffffff;
}

#boxes #dialog div {
  margin: 15px;
}

#boxes #dialog1 {
  width:375px; 
  height:203px;
}

#dialog1 .d-header {
  background:url(images/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}

#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#dialog1 .d-blank {
  float:left;
  background:url(images/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}

#dialog1 .d-login {
  float:left;
  width:108px; 
  height:53px;
}

#boxes #dialog2 {
  background:url(images/notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}


#table_example a:hover {
    text-decoration: underline;
}