<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt" xml:lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Design</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="design">
<meta name="uma.presentationName" content="Design">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_EOPcMAMUEdylNddAObilIA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Design</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">Este é o template informal sugerido para representar o design.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../openup/workproducts/design_D677D182.html" guid="_0WuL8slgEdmt3adZL5Dmdw">Design</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>Este template descreve como o design pode ser organizado para ser entendido sob várias perspectivas. Também oferece sugestões de como os padrões e as descrições de interações pequenas e reutilizáveis podem ser usadas para minimizar a redundância.</p>
<p>É importante não pensar no design como "um documento". As informações do design que valem a pena manter durante algum tempo devem ter uma forma de vida longa. Esta forma pode ser um repositório de uma ferramenta de modelagem visual, subdiretórios de fotos dos diagramas em quadro branco capturadas com uma câmera digital ou um verdadeiro documento que forneça estrutura para imagens obtidas de uma miríade de fontes.</p>
<p>Este template descreve as informações que devem ser apresentadas. Normalmente, ele funciona melhor para apresentar informação gráfica (com a notação UML ou qualquer outra que seja inequívoca), ou pelo menos em palavras, em um nível abstrato. Você pode melhorá-lo com exemplos de código, mas é melhor não registrar o design exclusivamente a nível de código.</p>
<p>A estrutura do design é sugerida neste template.</p>
<h1>Estrutura do design</h1>
<p style="COLOR: #0000ff">[Descreva o design no nível mais alto. Este é comumente feito com um diagrama que mostra uma arquitetura em camadas.]</p>
<h1>Subsistemas</h1>
<h2>[Sub-sistema1]</h2>
<p style="COLOR: #0000ff">[Descreva o design de uma parte do sistema (um pacote ou componente, por exemplo). O design deve capturar tanto as perspectivas estáticas com as dinâmicas.</p>
<p style="COLOR: #0000ff">Quando capturar as descrições do comportamento dinâmico, procure por partes reutilizáveis de comportamento que você possa referenciar para simplificar o design das realizações de caso de uso.</p>
<p style="COLOR: #0000ff">Você pode subdividir esta seção em subseções de nível mais baixo para descrever subsistemas encapsulados de mais baixo nível.]</p>
<h1>Padrões</h1>
<h2>[Padrão1]</h2>
<h3>Visão Geral</h3>
<p style="COLOR: #0000ff">[Forneça uma visão geral do padrão, em palavras e de alguma forma consistente. A visão geral de um padrão pode incluir a intenção, a motivação e a aplicabilidade.]</p>
<h3>Estrutura</h3>
<p style="COLOR: #0000ff">[Descreva o padrão sob uma perspectiva estática. Inclua todos os participantes e como eles se relacionam, e aponte os dados e comportamentos relevantes.]</p>
<h3>Comportamento</h3>
<p style="COLOR: #0000ff">[Descreva o padrão sob uma perspectiva dinâmica. Mostre ao leitor como os participantes colaboram para dar suporte a vários cenários.]</p>Exemplo<p style="COLOR: #0000ff">[Muitas vezes, você pode apresentar melhor a natureza do padrão com um exemplo concreto adicional].</p>
<h1>Realizações de caso de uso</h1>
<h2>[Realização1]</h2>
<h3>Visão dos participantes</h3>
<p style="COLOR: #0000ff">[Descreva os elementos de design participantes sob uma perspectiva estática, fornecendo detalhes tais como comportamento, relacionamentos e atributos relevantes para esta realização de caso de uso].</p>
<h3>Cenário base</h3>
<p style="COLOR: #0000ff">[Para o fluxo principal, descreva como instâncias de elementos de design colaboram para realizar o caso de uso. Usando a UML, isso pode ser feito com diagramas de colaboração (seqüência ou comunicação)].</p>
<h3>Cenários adicionais</h3>
<p style="COLOR: #0000ff">[Para outros cenários que devam ser descritos para apresentar uma adequada quantidade de informações sobre como o comportamento do caso de uso será realizado, descreva como instâncias dos elementos de design colaboram para realizar o caso de uso. Usando a UML, você pode fazer isto com diagramas de colaboração (seqüência ou comunicação)].</p></td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>Este programa e o material que o acompanha são disponibilizados sob a<br /> <a href="http://www.eclipse.org/org/documents/epl-v10.php" target="_blank">Eclipse Public License v1.0</a> que acompanha esta distribuição.</p><p/><p>
    <a class="elementLink" href="./../../../openup/guidances/supportingmaterials/openup_copyright_C3031062.html" guid="_UaGfECcTEduSX6N2jUafGA">Direitos Autorais do OpenUP</a>.</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
